In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import boto3
from io import BytesIO
import io
from sklearn.preprocessing import MinMaxScaler

## Credentials for Amazon S3

In [2]:
aws_access_key_id = 'AKIAZQ3DOOYC7J5PI25Z'
aws_secret_access_key = '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'

bucket_name = 'comp333bucket'

# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

## The list contains all the keywords

In [3]:
CS_keywords = set(['python', 'pytorch', 'sql', 'mxnet', 'mlflow', 'einstein', 'theano', 'pyspark', 'solr', 'mahout',
 'cassandra', 'aws', 'powerpoint', 'spark', 'pig', 'sas', 'java', 'nosql', 'docker', 'salesforce', 'scala', 'c++', 'net', 'tableau', 'pandas', 'scikitlearn', 'sklearn', 'matlab', 'scala', 'keras', 'tensorflow', 'clojure',
 'caffe', 'scipy', 'numpy', 'matplotlib', 'vba', 'spss', 'linux', 'azure', 'cloud', 'gcp', 'mongodb', 'mysql', 'oracle',
 'redshift', 'snowflake', 'kafka', 'javascript', 'qlik', 'jupyter', 'perl', 'bigquery', 'unix', 'react',
 'scikit', 'powerbi', 's3', 'ec2', 'lambda', 'ssrs', 'kubernetes', 'hana', 'spacy', 'tf', 'django', 'sagemaker',
 'seaborn', 'mllib', 'github', 'git', 'elasticsearch', 'splunk', 'airflow', 'looker', 'rapidminer', 'birt', 'pentaho',
'jquery', 'nodejs', 'd3', 'plotly', 'bokeh', 'xgboost', 'rstudio', 'shiny', 'dash', 'h20', 'h2o', 'hadoop', 'mapreduce',
 'hive', 'cognos', 'angular', 'nltk', 'flask', 'node', 'firebase', 'bigtable', 'rust', 'php', 'cntk', 'lightgbm',
 'kubeflow', 'rpython', 'unixlinux', 'postgressql', 'postgresql', 'postgres', 'hbase', 'dask', 'ruby', 'julia', 'tensor',
 'dplyr','ggplot2','esquisse','bioconductor','shiny','lubridate','knitr','mlr','quanteda','dt','rcrawler','caret','rmarkdown',
 'leaflet','janitor','ggvis','plotly','rcharts','rbokeh','broom','stringr','magrittr','slidify','rvest',
 'rmysql','rsqlite','prophet','glmnet','text2vec','snowballc','quantmod','rstan','swirl','datasciencer', 
 'amazon web services', 'google cloud', 'sql server',
  'cleansing', 'chatbot', 'cleaning', 'blockchain', 'causality', 'correlation', 'bandit', 'anomaly', 'kpi',
 'dashboard', 'geospatial', 'ocr',  'pca', 'gis', 'svm', 'svd', 'tuning', 'hyperparameter', 'hypothesis',
 'salesforcecom', 'segmentation', 'biostatistics', 'unsupervised', 'supervised', 'exploratory',
 'recommender', 'recommendations', 'research', 'sequencing', 'probability', 'reinforcement', 'graph', 'bioinformatics',
  'knn', 'etl', 'normalization', 'classification', 'optimizing', 'prediction', 'forecasting',
 'clustering', 'optimization', 'visualization', 'nlp', 'c#',
 'regression', 'logistic', 'cnn', 'glm',
 'rnn', 'lstm', 'gbm', 'boosting', 'recurrent', 'convolutional', 'bayesian',
 'bayes', 'random forest', 'natural language processing', 'machine learning', 'decision tree', 'deep learning', 'experimental design',
 'time series', 'nearest neighbors', 'neural network', 'support vector machine', 'computer vision', 'machine vision', 'dimensionality reduction',
 'text analytics',  'a/b testing', 'data mining', 'kajsadouas', 'senior','intern'])

## Get the list of keywords that actualling appear in the description

In [4]:
file_key = 'merged_dataset.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
merged_df = pd.read_csv(BytesIO(content), engine='python')

In [5]:
merged_df

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019.0,8.0,20.0,2
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,NC,125000,2019.0,9.0,6.0,5
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,NY,125000,2019.0,8.0,23.0,11
3,"TV Data Scientist in Burlington, MA","TV Data Scientist in Burlington, MA Our servic...",LiveRamp,Burlington,MA,125000,2019.0,8.0,2.0,13
4,"TV Data Scientist in Burlington, MA","TV Data Scientist in Burlington, MA ABOUT THIS...",LiveRamp,Burlington,MA,125000,2019.0,8.0,2.0,13
...,...,...,...,...,...,...,...,...,...,...
1463,Epidemiology Investigator 2 (Hybrid Eligible),"About Us Our mission is to save lives, reduce ...",Ohio Department of Public Safety,Columbus,Ohio,57907,2019.0,9.0,16.0,5
1464,"Wholesale Business Analyst - Montvale, NJ (Hyb...","Wholesale Business Analyst - Montvale, NJ (Hyb...","Flight Centre Travel Group, The Americas",Montvale,NJ,75000,2019.0,9.0,16.0,4
1465,AEM Developer,"Senior AEM Developer | Mountain view, CA | Pho...",RD SOLUTIONS INC,Iselin,New Jersey,135200,2019.0,9.0,16.0,4
1466,"MBA Fall Intern, Insights",ABOUT ELEVATE SPORTS VENTURES:Elevate Sports V...,Elevate,Charlotte,North Carolina,52000,2019.0,9.0,16.0,9
1467,"Fall Undergraduate Intern, Insights",ABOUT ELEVATE SPORTS VENTURES: Elevate Sports ...,Elevate,Charlotte,North Carolina,41600,2019.0,9.0,16.0,7

In [6]:
CS_word_counts = {word: merged_df['Description'].str.count(re.escape(word)).sum() for word in CS_keywords}
CS_keyword_freq = pd.DataFrame(list(CS_word_counts.items()), columns=['CS_keyword', 'CS_keyword_Count'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

CS_keyword_freq = CS_keyword_freq[CS_keyword_freq['CS_keyword_Count'] !=0]

print(CS_keyword_freq['CS_keyword'].tolist())

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

['spacy', 'computer vision', 'clustering', 'a/b testing', 'qlik', 'causality', 'supervised', 'hypothesis', 'redshift', 'ggplot2', 'elasticsearch', 'sas', 'net', 'sklearn', 'dt', 'lambda', 'sequencing', 'mysql', 'tensorflow', 'jupyter', 'ssrs', 'research', 'tableau', 'python', 'birt', 'shiny', 'prediction', 'geospatial', 'git', 'java', 'react', 'bokeh', 'tf', 'scikit', 'tensor', 'recommender', 'machine vision', 'spark', 'aws', 's3', 'senior', 'pandas', 'data mining', 'keras', 'reinforcement', 'boosting', 'd3', 'chatbot', 'dimensionality reduction', 'salesforce', 'hbase', 'hyperparameter', 'matplotlib', 'javascript', 'forecasting', 'support vector machine', 'regression', 'ocr', 'decision tree', 'logistic', 'etl', 'nltk', 'cloud', 'linux', 'pytorch', 'time series', 'intern', 'php', 'exploratory', 'visualization', 'natural language processing', 'anomaly', 'optimization', 'classification', 'neural network', 'bioinformatics', 'blockchain', 'docker', 'cleansing', 'pca', 'azure', 'scala', 'sql server', 'angular', 'theano', 'normalization', 'hive', 'optimizing', 'h2o', 'segmentation', 'convolutional', 'xgboost', 'dashboard', 'rust', 'powerbi', 'node', 'unix', 'probability', 'snowflake', 'pyspark', 'dash', 'machine learning', 'recurrent', 'deep learning', 'recommendations', 'biostatistics', 'gis', 'github', 'cleaning', 'django', 'flask', 'plotly', 'correlation', 'random forest', 'rvest', 'graph', 'nearest neighbors', 'seaborn', 'bandit', 'kubernetes', 'rstan', 'unsupervised', 'perl', 'tuning', 'text analytics', 'numpy', 'experimental design', 'scipy', 'sql']

## Adding the keywords columns in the merged dataset

In [7]:
for keyword in CS_keyword_freq['CS_keyword'].tolist():
    merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))

merged_df

/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))

/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))
/var/folders/0l/srjf8wrn45d3c527z89b0d9m0000gn/T/ipykernel_7982/263324470.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[keyword] = merged_df['Description'].apply(lambda x: x.lower().count(keyword.lower()))

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords,...,kubernetes,rstan,unsupervised,perl,tuning,text analytics,numpy,experimental design,scipy,sql
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019.0,8.0,20.0,2,...,0,0,0,0,0,0,0,0,0,0
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,NC,125000,2019.0,9.0,6.0,5,...,0,1,0,0,0,0,0,0,0,0
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,NY,125000,2019.0,8.0,23.0,11,...,0,1,0,0,0,0,0,1,0,1
3,"TV Data Scientist in Burlington, MA","TV Data Scientist in Burlington, MA Our servic...",LiveRamp,Burlington,MA,125000,2019.0,8.0,2.0,13,...,0,2,0,1,0,0,0,0,0,1
4,"TV Data Scientist in Burlington, MA","TV Data Scientist in Burlington, MA ABOUT THIS...",LiveRamp,Burlington,MA,125000,2019.0,8.0,2.0,13,...,0,2,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,Epidemiology Investigator 2 (Hybrid Eligible),"About Us Our mission is to save lives, reduce ...",Ohio Department of Public Safety,Columbus,Ohio,57907,2019.0,9.0,16.0,5,...,0,0,0,0,0,0,0,0,0,0
1464,"Wholesale Business Analyst - Montvale, NJ (Hyb...","Wholesale Business Analyst - Montvale, NJ (Hyb...","Flight Centre Travel Group, The Americas",Montvale,NJ,75000,2019.0,9.0,16.0,4,...,0,5,0,0,0,0,0,0,0,2
1465,AEM Developer,"Senior AEM Developer | Mountain view, CA | Pho...",RD SOLUTIONS INC,Iselin,New Jersey,135200,2019.0,9.0,16.0,4,...,0,1,0,0,0,0,0,0,0,0
1466,"MBA Fall Intern, Insights",ABOUT ELEVATE SPORTS VENTURES:Elevate Sports V...,Elevate,Charlotte,North Carolina,52000,2019.0,9.0,16.0,9,...,0,0,0,0,0,0,0,0,0,1
1467,"Fall Undergraduate Intern, Insights",ABOUT ELEVATE SPORTS VENTURES: Elevate Sports ...,Elevate,Charlotte,North Carolina,41600,2019.0,9.0,16.0,7,...,0,0,0,0,0,0,0,0,0,1

## Chekcing correlations

In [8]:
merged_df_corr = merged_df.drop(['Description', 'Title', 'Company Name', 'City', 'State'], axis=1)

salary_column = merged_df_corr['Salary']
correlations = merged_df_corr.corrwith(salary_column)


sorted_correlations = correlations.abs().sort_values(ascending=False)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(sorted_correlations)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Salary                         1.000000
python                         0.196211
CS_keywords                    0.182668
rstan                          0.133911
sql                            0.116172
intern                         0.114538
tableau                        0.084746
optimization                   0.083686
dashboard                      0.080809
visualization                  0.079992
dash                           0.079880
recommendations                0.079378
classification                 0.078076
birt                           0.073027
exploratory                    0.072822
scala                          0.070857
spark                          0.070423
net                            0.069182
deep learning                  0.068271
gis                            0.064912
clustering                     0.064539
regression                     0.063979
redshift                       0.063977
machine learning               0.063627
git                            0.061985
neural network                 0.061120
jupyter                        0.061079
cleaning                       0.059791
a/b testing                    0.059387
hive                           0.057402
data mining                    0.056821
tf                             0.055699
research                       0.055101
docker                         0.054552
unsupervised                   0.053951
random forest                  0.053211
supervised                     0.052698
mysql                          0.052040
sas                            0.051956
logistic                       0.051801
hypothesis                     0.051302
php                            0.050920
decision tree                  0.050088
aws                            0.049929
tensor                         0.049612
pca                            0.049552
dimensionality reduction       0.049426
scikit                         0.047825
kubernetes                     0.047081
perl                           0.046839
s3                             0.046672
tensorflow                     0.046459
sql server                     0.046449
pandas                         0.044925
anomaly                        0.042648
natural language processing    0.041300
senior                         0.040473
pytorch                        0.039395
etl                            0.038794
correlation                    0.038485
pyspark                        0.038088
sklearn                        0.038014
java                           0.037314
shiny                          0.036657
dt                             0.035754
h2o                            0.035566
javascript                     0.034622
node                           0.034411
scipy                          0.033817
numpy                          0.033645
keras                          0.032452
biostatistics                  0.031406
forecasting                    0.031307
rvest                          0.031090
qlik                           0.030806
bokeh                          0.030082
ggplot2                        0.029653
linux                          0.029562
machine vision                 0.028058
azure                          0.027611
geospatial                     0.027299
github                         0.027137
hyperparameter                 0.026832
lambda                         0.026676
snowflake                      0.026509
salesforce                     0.026314
experimental design            0.026037
bioinformatics                 0.026020
ssrs                           0.025302
cleansing                      0.024313
matplotlib                     0.023530
blockchain                     0.023131
recurrent                      0.022595
Month                          0.022445
Day                            0.020837
recommender                    0.019960
cloud                          0.019947
nearest neighbors              0.018967
computer vision                0.017639
causality                      0.015315
chatbot                        0.014826
powerbi                        0.014284
plotly                         0.014249
support vector machine         0.013576
rust                           0.013373
xgboost                        0.011306
text analytics                 0.011302
flask                          0.011099
django                         0.011001
reinforcement                  0.009543
elasticsearch                  0.009258
seaborn                        0.009038
react                          0.008196
probability                    0.007315
tuning                         0.007290
theano                         0.007116
boosting                       0.007010
hbase                          0.006579
angular                        0.006547
graph                          0.005968
time series                    0.005868
convolutional                  0.005834
prediction                     0.004863
nltk                           0.004538
spacy                          0.004313
d3                             0.004035
unix                           0.003137
segmentation                   0.002742
ocr                            0.002715
sequencing                     0.002631
optimizing                     0.000957
bandit                         0.000690
normalization                  0.000472
Year                                NaN
dtype: float64

## Select the top 20 correlated columns

In [9]:
final_df = merged_df[['Description', 'Title', 'Company Name', 'City', 'Year', 'Day', 'Month','State','Salary'
                      ,'python','CS_keywords','rstan' ,'sql','intern', 'optimization','spark'
                      ,'tableau','dashboard','classification','recommendations','dash','visualization'
                      ,'scala','exploratory','deep learning','birt', 'net']]
final_df

,Description,Title,Company Name,City,Year,Day,Month,State,Salary,python,...,dashboard,classification,recommendations,dash,visualization,scala,exploratory,deep learning,birt,net
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,2019.0,20.0,8.0,NY,90000,1,...,0,0,0,0,1,0,0,0,0,0
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,2019.0,6.0,9.0,NC,125000,0,...,0,0,0,0,1,1,0,0,0,2
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,2019.0,23.0,8.0,NY,125000,1,...,0,0,1,0,1,0,0,0,0,0
3,"TV Data Scientist in Burlington, MA Our servic...","TV Data Scientist in Burlington, MA",LiveRamp,Burlington,2019.0,2.0,8.0,MA,125000,1,...,1,0,0,1,1,0,0,0,0,1
4,"TV Data Scientist in Burlington, MA ABOUT THIS...","TV Data Scientist in Burlington, MA",LiveRamp,Burlington,2019.0,2.0,8.0,MA,125000,1,...,1,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,"About Us Our mission is to save lives, reduce ...",Epidemiology Investigator 2 (Hybrid Eligible),Ohio Department of Public Safety,Columbus,2019.0,16.0,9.0,Ohio,57907,0,...,2,0,2,2,0,0,0,0,1,0
1464,"Wholesale Business Analyst - Montvale, NJ (Hyb...","Wholesale Business Analyst - Montvale, NJ (Hyb...","Flight Centre Travel Group, The Americas",Montvale,2019.0,16.0,9.0,NJ,75000,0,...,1,0,0,1,0,0,0,0,1,4
1465,"Senior AEM Developer | Mountain view, CA | Pho...",AEM Developer,RD SOLUTIONS INC,Iselin,2019.0,16.0,9.0,New Jersey,135200,0,...,0,0,1,0,0,1,0,0,0,4
1466,ABOUT ELEVATE SPORTS VENTURES:Elevate Sports V...,"MBA Fall Intern, Insights",Elevate,Charlotte,2019.0,16.0,9.0,North Carolina,52000,1,...,0,0,1,0,4,0,0,0,0,1
1467,ABOUT ELEVATE SPORTS VENTURES: Elevate Sports ...,"Fall Undergraduate Intern, Insights",Elevate,Charlotte,2019.0,16.0,9.0,North Carolina,41600,1,...,0,0,1,0,3,0,0,0,0,1

## Push the dataset to Amazon S3 datalake

In [40]:
output_file_key = 'with_20_keywords.csv'

csv_buffer = io.StringIO()
final_df.to_csv(csv_buffer, index=False)

s3.put_object(Body = csv_buffer.getvalue(), Bucket = bucket_name, Key=output_file_key)

{'ResponseMetadata': {'RequestId': 'EPHZHWSX7TSB851N',
  'HostId': 'RCqdvarObC1gMyXBDxC6cVIuOF1jF3sKxHlgYop5DVzfIbiCU3NbZGmpxv4LnHVtZBuwScYZ4go=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'RCqdvarObC1gMyXBDxC6cVIuOF1jF3sKxHlgYop5DVzfIbiCU3NbZGmpxv4LnHVtZBuwScYZ4go=',
   'x-amz-request-id': 'EPHZHWSX7TSB851N',
   'date': 'Tue, 20 Feb 2024 23:35:55 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"61074646a03a5773f942eff0b99ff554"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"61074646a03a5773f942eff0b99ff554"',
 'ServerSideEncryption': 'AES256'}

### Normalization

#### Before normalization:

In [10]:
print(final_df['Salary'])

0        90000
1       125000
2       125000
3       125000
4       125000
         ...
1463     57907
1464     75000
1465    135200
1466     52000
1467     41600
Name: Salary, Length: 1468, dtype: int64

In [18]:
scaler = MinMaxScaler()
final_df.loc[:, 'Salary'] = scaler.fit_transform(final_df['Salary'].values.reshape(-1, 1))
# If we want to reverse the normalization
# final_df.loc[:, 'Salary'] = scaler.inverse_transform(final_df['Salary'].values.reshape(-1, 1))

#### After normalization:

In [19]:
print(final_df['Salary'])

0       0.140306
1       0.233736
2       0.233736
3       0.233736
4       0.233736
          ...
1463    0.054635
1464    0.100264
1465    0.260965
1466    0.038867
1467    0.011105
Name: Salary, Length: 1468, dtype: float64