In [1]:
#!pip install boto3

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import boto3
from io import BytesIO
import io
from sklearn.preprocessing import MinMaxScaler
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from scipy.stats import pearsonr
import textdistance
import warnings

## Credentials for Amazon S3

In [2]:
aws_access_key_id = 'AKIAZQ3DOOYC7J5PI25Z'
aws_secret_access_key = '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'

bucket_name = 'comp333bucket'

# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

## The list contains generic CS keywords

In [3]:
CS_keywords = set(['python', 'pytorch', 'sql', 'mxnet', 'mlflow', 'einstein', 'theano', 'pyspark', 'solr', 'mahout',
 'cassandra', 'aws', 'powerpoint', 'spark', 'pig', 'sas', 'java', 'nosql', 'docker', 'salesforce', 'scala', 'c++', 'net', 'tableau', 'pandas', 'scikitlearn', 'sklearn', 'matlab', 'scala', 'keras', 'tensorflow', 'clojure',
 'caffe', 'scipy', 'numpy', 'matplotlib', 'vba', 'spss', 'linux', 'azure', 'cloud', 'gcp', 'mongodb', 'mysql', 'oracle',
 'redshift', 'snowflake', 'kafka', 'javascript', 'qlik', 'jupyter', 'perl', 'bigquery', 'unix', 'react',
 'scikit', 'powerbi', 's3', 'ec2', 'lambda', 'ssrs', 'kubernetes', 'hana', 'spacy', 'tf', 'django', 'sagemaker',
 'seaborn', 'mllib', 'github', 'git', 'elasticsearch', 'splunk', 'airflow', 'looker', 'rapidminer', 'birt', 'pentaho',
'jquery', 'nodejs', 'd3', 'plotly', 'bokeh', 'xgboost', 'rstudio', 'shiny', 'dash', 'h20', 'h2o', 'hadoop', 'mapreduce',
 'hive', 'cognos', 'angular', 'nltk', 'flask', 'node', 'firebase', 'bigtable', 'rust', 'php', 'cntk', 'lightgbm',
 'kubeflow', 'rpython', 'unixlinux', 'postgressql', 'postgresql', 'postgres', 'hbase', 'dask', 'ruby', 'julia', 'tensor',
 'dplyr','ggplot2','esquisse','bioconductor','shiny','lubridate','knitr','mlr','quanteda','dt','rcrawler','caret','rmarkdown',
 'leaflet','janitor','ggvis','plotly','rcharts','rbokeh','broom','stringr','magrittr','slidify','rvest',
 'rmysql','rsqlite','prophet','glmnet','text2vec','snowballc','quantmod','rstan','swirl','datasciencer', 
 'amazon web services', 'google cloud', 'sql server',
  'cleansing', 'chatbot', 'cleaning', 'blockchain', 'causality', 'correlation', 'bandit', 'anomaly', 'kpi',
 'dashboard', 'geospatial', 'ocr',  'pca', 'gis', 'svm', 'svd', 'tuning', 'hyperparameter', 'hypothesis',
 'salesforcecom', 'segmentation', 'biostatistics', 'unsupervised', 'supervised', 'exploratory',
 'recommender', 'recommendations', 'research', 'sequencing', 'probability', 'reinforcement', 'graph', 'bioinformatics',
  'knn', 'etl', 'normalization', 'classification', 'optimizing', 'prediction', 'forecasting',
 'clustering', 'optimization', 'visualization', 'nlp', 'c#',
 'regression', 'logistic', 'cnn', 'glm',
 'rnn', 'lstm', 'gbm', 'boosting', 'recurrent', 'convolutional', 'bayesian',
 'bayes', 'random forest', 'natural language processing', 'machine learning', 'decision tree', 'deep learning', 'experimental design',
 'time series', 'nearest neighbors', 'neural network', 'support vector machine', 'computer vision', 'machine vision', 'dimensionality reduction',
 'text analytics',  'a/b testing', 'data mining', 'kajsadouas', 'senior','intern', 'Data', ])

## Get the list of unique keywords that appear in the description

In [4]:
file_key = 'merged_dataset.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
merged_df = pd.read_csv(BytesIO(content), engine='python')
display(merged_df.head(3))

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,New York,90000,2019.0,8.0,20.0,2
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,North Carolina,125000,2019.0,9.0,6.0,5
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,New York,125000,2019.0,8.0,23.0,11

In [5]:
# Suppress PerformanceWarning
warnings.filterwarnings("ignore", message="DataFrame is highly fragmented.*")

# Tokenize the words and remove stopwords
nltk.download('punkt')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

merged_df['Description'] = merged_df['Description'].apply(lambda x: ' '.join([word.capitalize() for word in word_tokenize(x) if word.lower() not in stop_words]))

# Count word frequencies
word_frequencies = {}
for description in merged_df['Description']:
    words = word_tokenize(description)
    for word in words:
        word = word.lower()  # Convert to lowercase for consistency
        if word not in word_frequencies:
            word_frequencies[word] = 1
        else:
            word_frequencies[word] += 1

# Filter out words with frequency above 50
frequent_words = {word: freq for word, freq in word_frequencies.items() if freq > 50}

# Create bag-of-words representation
vectorizer = CountVectorizer(vocabulary=frequent_words.keys())
X = vectorizer.fit_transform(merged_df['Description'])

# Calculate correlation
correlations = {}
for word in frequent_words:
    idx = vectorizer.vocabulary_.get(word)
    if idx is not None:
        word_vector = X[:, idx].toarray().flatten()
        correlation, _ = pearsonr(word_vector, merged_df['Salary'])
        if not pd.isnull(correlation):  # Exclude words with NaN correlation
            correlations[word] = abs(correlation)

# Find redundant words based on Jaro-Winkler similarity and keep only the one with the highest correlation
threshold = 0.7 # You can adjust this threshold as needed
redundant_words = set()
for word1 in correlations:
    for word2 in correlations:
        if word1 != word2 and textdistance.jaro_winkler.similarity(word1, word2) > threshold:
            if correlations[word1] > correlations[word2]:
                redundant_words.add(word2)
            else:
                redundant_words.add(word1)

# Remove redundant words from frequent_words
frequent_words = {word: freq for word, freq in frequent_words.items() if word not in redundant_words}

# Sort the words based on their correlation with the salary column and remove redundant words
sorted_correlations = sorted(correlations.items(), key=lambda x: x[1], reverse=True)
sorted_correlations = [(word, corr) for word, corr in sorted_correlations if word not in redundant_words]

#print("Words with frequency above 50 and not redundant:", len(frequent_words))
print("Words with highest correlation with salary:", sorted_correlations)

[nltk_data] Downloading package punkt to /home/jeremy/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /home/jeremy/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
/home/jeremy/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

Words with highest correlation with salary: [('python', 0.198867455197568), ('work', 0.1958287633707343), ('data', 0.19295753214710254), ('experience', 0.17431311358590246), ('scientist', 0.1726879256968697), ('new', 0.1535427695700175), ('opportunities', 0.1501975440322981), ('insights', 0.1478748940664677), ('skills', 0.14682271818858328), ('problems', 0.13973442201849628), ('communication', 0.1334125438607676), ('help', 0.13216785971370726), ('build', 0.1311344348955137), ('programming', 0.12954808497310533), ('team', 0.12875060880594813), ('drive', 0.12868237014977277), ('including', 0.1274844246279636), ('passion', 0.12350654759714487), ('business', 0.12331215076141072), ('responsibilities', 0.12300449949198294), ('statistics', 0.12196279486537405), ('sql', 0.12170040785799036), ('key', 0.11976724543631113), ('ca', 0.11853650850023867), ('actionable', 0.11781130547401472), ('ability', 0.11693902421647108), ('learn', 0.1168654047039384), ('analyses', 0.11655381756896865), ('open', 0.11505980975710646), ('environment', 0.11291593563447314), ('knowledge', 0.11019973132945513), ('stakeholders', 0.10808904915367482), ('tools', 0.1080629602428137), ('director', 0.10657614750155114), ('understanding', 0.10580263247793192), ('metrics', 0.10520476550331129), ('concepts', 0.10430424285145032), ('computer', 0.10193593708838371), ('preferred', 0.10112999719625448), ('end', 0.09958616644370372), ('initiatives', 0.09895482213344155), ('qualifications', 0.09782505973217953), ('develop', 0.09734637532157674), ('believe', 0.09593464219791348), ('related', 0.09394732109591165), ('future', 0.09313623861794203), ('verbal', 0.09190373290077072), ('growth', 0.09105302169196292), ('organize', 0.09043520398157176), ('well', 0.08843293678450619), ('time', 0.0880886792359063), ('life', 0.08775154307063429), ('source', 0.08754258209120057), ('quickly', 0.0870148036687974), ('closely', 0.0864820330446304), ('tableau', 0.08575484272876693), ('plus', 0.08511128936209514), ('excel', 0.08378001067855823), ('required', 0.08355409788120015), ('phd', 0.0828327601834237), ('big', 0.08063016749311222), ('effectively', 0.08021811629835268), ('inform', 0.08006206459855186), ('throughout', 0.07903754526605483), ('hadoop', 0.07891712159349112), ('20', 0.07788874011437885), ('overview', 0.0722872181276963), ('similar', 0.0722384795469328), ('dashboards', 0.07135779405602309), ('system', 0.07129685882550124), ('transform', 0.06961522031227342), ('language', 0.06734536402462354), ('physics', 0.06701159336617711), ('highly', 0.06655441636672757), ('enjoy', 0.06609677339474271), ('50', 0.06486917119612483), ('want', 0.06485194456592612), ('monitor', 0.06357925384604556), ('public', 0.059610771634299516), ('accuracy', 0.051983506906897195), ('10', 0.05181165478206673), ('kafka', 0.049915024975398715), ('check', 0.04848828665403769), ('numpy', 0.034271499241179816), ('today', 0.03396194552026505), ('40', 0.03134866283655936)]

## Adding top 30 correlated keyword columns in the merged dataset

In [6]:
# Add frequency columns for top 30 correlated keywords
for word, _ in sorted_correlations[:30]:
    merged_df[word] = merged_df['Description'].apply(lambda x: sum(textdistance.jaro_winkler.similarity(word, w) > threshold for w in word_tokenize(x)))

In [7]:
print(merged_df.columns)

Index(['Title', 'Description', 'Company Name', 'City', 'State', 'Salary',
       'Year', 'Month', 'Day', 'CS_keywords', 'python', 'work', 'data',
       'experience', 'scientist', 'new', 'opportunities', 'insights', 'skills',
       'problems', 'communication', 'help', 'build', 'programming', 'team',
       'drive', 'including', 'passion', 'business', 'responsibilities',
       'statistics', 'sql', 'key', 'ca', 'actionable', 'ability', 'learn',
       'analyses', 'open', 'environment'],
      dtype='object')

## Validating correlations

In [8]:
merged_df_corr = merged_df.drop(['Description', 'Title', 'Company Name', 'City', 'State'], axis=1)

salary_column = merged_df_corr['Salary']
correlations = merged_df_corr.corrwith(salary_column)


sorted_correlations = correlations.abs().sort_values(ascending=False)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(sorted_correlations)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Salary              1.000000
work                0.221658
data                0.194326
python              0.193922
experience          0.189389
including           0.185625
CS_keywords         0.183533
communication       0.174846
actionable          0.174808
open                0.171710
problems            0.170969
analyses            0.169708
drive               0.168311
new                 0.168280
team                0.165778
scientist           0.163249
insights            0.163176
learn               0.160551
passion             0.157631
help                0.153462
skills              0.148021
build               0.142170
ability             0.139136
business            0.137521
ca                  0.136612
statistics          0.134026
sql                 0.128271
opportunities       0.125180
responsibilities    0.124953
key                 0.124281
programming         0.111108
environment         0.108638
Month               0.022666
Day                 0.020770
Year                     NaN
dtype: float64

In [9]:
merged_df.head(2)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords,...,statistics,sql,key,ca,actionable,ability,learn,analyses,open,environment
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,New York,90000,2019.0,8.0,20.0,2,...,3,0,0,3,0,2,5,8,0,1
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease Inf...,Carolinas HealthCare System,Charlotte,North Carolina,125000,2019.0,9.0,6.0,5,...,4,0,1,13,8,7,5,7,4,5

## Push the dataset to Amazon S3 datalake

In [10]:
output_file_key = 'with_20_keywords.csv'

csv_buffer = io.StringIO()
merged_df.to_csv(csv_buffer, index=False)

s3.put_object(Body = csv_buffer.getvalue(), Bucket = bucket_name, Key=output_file_key)

{'ResponseMetadata': {'RequestId': 'XTDMEGJSG7JR71Z9',
  'HostId': 'rXjQRAxkprkNEg1vecYzXBosILadMc08rMHBiEsHNw6fJwqDruOWtrX/NYTk/+Ak1Z2vNz/bIQM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'rXjQRAxkprkNEg1vecYzXBosILadMc08rMHBiEsHNw6fJwqDruOWtrX/NYTk/+Ak1Z2vNz/bIQM=',
   'x-amz-request-id': 'XTDMEGJSG7JR71Z9',
   'date': 'Fri, 19 Apr 2024 18:53:42 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9ccb824531007ed2d2806cb296ab374a"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9ccb824531007ed2d2806cb296ab374a"',
 'ServerSideEncryption': 'AES256'}

### Normalization

#### Before normalization:

In [12]:
print(merged_df['Salary'])

0        90000
1       125000
2       125000
3       125000
4       125000
         ...
1457     57907
1458     75000
1459    135200
1460     52000
1461     41600
Name: Salary, Length: 1462, dtype: int64

In [14]:
scaler = MinMaxScaler()
merged_df.loc[:, 'Salary'] = scaler.fit_transform(merged_df['Salary'].values.reshape(-1, 1))
# If we want to reverse the normalization
# final_df.loc[:, 'Salary'] = scaler.inverse_transform(final_df['Salary'].values.reshape(-1, 1))

#### After normalization:

In [16]:
print(merged_df['Salary'])

0       0.140306
1       0.233736
2       0.233736
3       0.233736
4       0.233736
          ...
1457    0.054635
1458    0.100264
1459    0.260965
1460    0.038867
1461    0.011105
Name: Salary, Length: 1462, dtype: float64