In [8]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.34.46-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 3.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting botocore<1.35.0,>=1.34.46 (from boto3)
  Downloading botocore-1.34.46-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 6.8 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/jeremy/anaconda3/lib/python3.11/site-packages (from boto3) (0.10.0)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3)
  Downloading s3transfer-0.10.0-py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 5.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/jeremy/anaconda3/lib/python3.11/site-packages (from botocore<1.35.0,>=1.34.46->boto3) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /home/jeremy/anaconda3/lib/python3.11/site-packages (from botocore<1.35.0,>=1.34.46->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in /home/jeremy/anaconda3/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.46->boto3) (1.16.0)
Installing collected packages: botocore, s3transfer, boto3
  Attempting uninstall: botocore
    Found existing installation: botocore 1.29.76
    Uninstalling botocore-1.29.76:
      Successfully uninstalled botocore-1.29.76
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.5.0 requires botocore<1.29.77,>=1.29.76, but you have botocore 1.34.46 which is incompatible.
Successfully installed boto3-1.34.46 botocore-1.34.46 s3transfer-0.10.0

In [15]:
import numpy as np
import pandas as pd
import boto3
from io import BytesIO
import re

# Merge Data Sources

## Open Connection with Amazon S3 Cloud Storage

In [10]:
aws_access_key_id = 'AKIAZQ3DOOYC7J5PI25Z'
aws_secret_access_key = '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'

bucket_name = 'comp333bucket'

# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

## Helper Functions

In [35]:
def remove_emoji_andN(input_string):
    result = str(input_string).replace('\n', ' ')
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"
                           u"\U0001F300-\U0001F5FF"
                           u"\U0001F680-\U0001F6FF"
                           u"\U0001F700-\U0001F77F"
                           u"\U0001F780-\U0001F7FF"
                           u"\U0001F800-\U0001F8FF"
                           u"\U0001F900-\U0001F9FF"
                           u"\U0001FA00-\U0001FA6F"
                           u"\U0001FA70-\U0001FAFF"
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', result)

def count_skill_keywords(text, keyword_set1, keyword_set2):
    text_1 = re.sub(r'[^a-zA-Z\s]', '', text).lower().split() #for single word
    text_2 = re.sub(r'[^a-zA-Z\s]', '', text).lower() #for word combinations

    #for single word
    matching_words = set(text_1) & keyword_set1
    count_matching_words = len(matching_words)

    #for word combinations
    keyword_pattern = re.compile('|'.join(re.escape(keyword) for keyword in keyword_set2))
    matches = keyword_pattern.findall(text_2)

    return len(set(matches)) + count_matching_words

CS_keywords = set(['python', 'pytorch', 'sql', 'mxnet', 'mlflow', 'einstein', 'theano', 'pyspark', 'solr', 'mahout',
 'cassandra', 'aws', 'powerpoint', 'spark', 'pig', 'sas', 'java', 'nosql', 'docker', 'salesforce', 'scala', 'r',
 'c', 'c++', 'net', 'tableau', 'pandas', 'scikitlearn', 'sklearn', 'matlab', 'scala', 'keras', 'tensorflow', 'clojure',
 'caffe', 'scipy', 'numpy', 'matplotlib', 'vba', 'spss', 'linux', 'azure', 'cloud', 'gcp', 'mongodb', 'mysql', 'oracle',
 'redshift', 'snowflake', 'kafka', 'javascript', 'qlik', 'jupyter', 'perl', 'bigquery', 'unix', 'react',
 'scikit', 'powerbi', 's3', 'ec2', 'lambda', 'ssrs', 'kubernetes', 'hana', 'spacy', 'tf', 'django', 'sagemaker',
 'seaborn', 'mllib', 'github', 'git', 'elasticsearch', 'splunk', 'airflow', 'looker', 'rapidminer', 'birt', 'pentaho',
'jquery', 'nodejs', 'd3', 'plotly', 'bokeh', 'xgboost', 'rstudio', 'shiny', 'dash', 'h20', 'h2o', 'hadoop', 'mapreduce',
 'hive', 'cognos', 'angular', 'nltk', 'flask', 'node', 'firebase', 'bigtable', 'rust', 'php', 'cntk', 'lightgbm',
 'kubeflow', 'rpython', 'unixlinux', 'postgressql', 'postgresql', 'postgres', 'hbase', 'dask', 'ruby', 'julia', 'tensor',
 'dplyr','ggplot2','esquisse','bioconductor','shiny','lubridate','knitr','mlr','quanteda','dt','rcrawler','caret','rmarkdown',
 'leaflet','janitor','ggvis','plotly','rcharts','rbokeh','broom','stringr','magrittr','slidify','rvest',
 'rmysql','rsqlite','prophet','glmnet','text2vec','snowballc','quantmod','rstan','swirl','datasciencer', 'cleansing', 'chatbot', 'cleaning', 'blockchain', 'causality', 'correlation', 'bandit', 'anomaly', 'kpi',
 'dashboard', 'geospatial', 'ocr',  'pca', 'gis', 'svm', 'svd', 'tuning', 'hyperparameter', 'hypothesis',
 'salesforcecom', 'segmentation', 'biostatistics', 'unsupervised', 'supervised', 'exploratory',
 'recommender', 'recommendations', 'research', 'sequencing', 'probability', 'reinforcement', 'graph', 'bioinformatics',
  'knn', 'etl', 'normalization', 'classification', 'optimizing', 'prediction', 'forecasting',
 'clustering', 'optimization', 'visualization', 'nlp', 'c#',
 'regression', 'logistic', 'cnn', 'glm','rnn', 'lstm', 'gbm', 'boosting', 'recurrent', 'convolutional', 'bayesian',
 'bayes'])

group_CS_keywords = set(['amazon web services', 'google cloud', 'sql server', 'random forest', 'natural language processing', 'machine learning', 'decision tree', 'deep learning', 'experimental design',
 'time series', 'nearest neighbors', 'neural network', 'support vector machine', 'computer vision', 'machine vision', 'dimensionality reduction',
 'text analytics', 'power bi', 'a/b testing', 'ab testing', 'chat bot', 'data mining'])

## Jobspikr Dataset

In [37]:
# Specify the file key for the CSV file in AWS S3
file_key = 'data_scientist_united_states_job_postings_jobspikr.csv'

# Retrieve the object from S3 bucket using the specified file key
obj = s3.get_object(Bucket=bucket_name, Key=file_key)

# Read the content of the object
content = obj['Body'].read()

# Create a Pandas DataFrame from the CSV content
Jobspikr = pd.read_csv(BytesIO(content), engine='python')

# Drop rows with missing values in specified columns
Jobspikr = Jobspikr.dropna(subset=['salary_offered', 'city', 'state'])

# Filter by job type to include only 'Full Time' positions
Jobspikr = Jobspikr[Jobspikr['job_type'] == 'Full Time']

# Select relevant columns for further analysis
Jobspikr = Jobspikr[['job_title', 'job_description', 'company_name', 'city', 'state', 'post_date', 'salary_offered']]

# Define a regular expression pattern for extracting salary information
salary_pattern = r'\$([\d,]+)[Kk]?\s*-\s*\$([\d,]+)[Kk]?'

# Function to extract and preprocess salary information from a string
def process_salary_string(salary_str):
    # Extract salary information using the defined pattern
    match = re.search(salary_pattern, salary_str)
    if match:
        lower_salary, upper_salary = map(lambda x: float(x.replace(',', '')), match.groups())
    else:
        # If the pattern does not match, extract numeric values using a different approach
        numeric_values = [float(val.replace(',', '')) for val in re.findall(r'\b[\d,]+\b', salary_str)][:2]
        lower_salary, upper_salary = numeric_values if len(numeric_values) == 2 else (None, None)
    return lower_salary, upper_salary

# Apply the salary extraction function to the 'salary_offered' column
Jobspikr['lower_salary'], Jobspikr['upper_salary'] = zip(*Jobspikr['salary_offered'].map(process_salary_string))

# Create a new column 'approximated_salary' by taking the mean of lower and upper salary values
Jobspikr['approximated_salary'] = Jobspikr[['lower_salary', 'upper_salary']].mean(axis=1).apply(lambda x: int(str(x).split('.')[0][:3]) if pd.notna(x) else x)

# Drop unnecessary columns related to salary
Jobspikr = Jobspikr.drop(columns=['salary_offered', 'lower_salary', 'upper_salary'])

# Drop rows with missing values in the new 'approximated_salary' column
Jobspikr = Jobspikr.dropna(subset=['approximated_salary'])

# Convert 'post_date' to datetime format for further analysis
Jobspikr['post_date'] = pd.to_datetime(Jobspikr['post_date'])

# Extract year, month, and day from 'post_date' into separate columns
Jobspikr[['year', 'month', 'day']] = Jobspikr['post_date'].apply(lambda x: pd.Series([x.year, x.month, x.day]))

# Drop the original 'post_date' column
Jobspikr = Jobspikr.drop(columns=['post_date'])

# Rename columns for clarity and consistency
Jobspikr = Jobspikr.rename(columns={
    'job_title': 'Title',
    'job_description': 'Description',
    'company_name': 'Company Name',
    'city': 'City',
    'state': 'State',
    'year': 'Year',
    'month': 'Month',
    'day': 'Day',
    'approximated_salary': 'Salary'
}).reset_index(drop=True)

# Round and adjust the 'Salary' column to represent salaries in thousands
Jobspikr['Salary'] = (Jobspikr['Salary'] * 1000).round()

# Combine 'Title' and 'Description' columns into a new 'description' column
# This will be useful later
Jobspikr['description'] = Jobspikr['Title'] + ' ' + Jobspikr['Description']
Jobspikr = Jobspikr.drop(['Description'], axis=1)

# Remove emojis and newline characters from the 'description' column
Jobspikr['description'] = Jobspikr['description'].map(remove_emoji_andN)

# Count skill and tool keywords in the 'description' column and create new columns for them
Jobspikr['CS_keywords'] = Jobspikr.apply(lambda row: count_skill_keywords(row['description'], CS_keywords, group_CS_keywords), axis=1)

# Select and order the final columns for the DataFrame
Jobspikr = Jobspikr[['Title', 'description', 'Company Name', 'City', 'State', 'Salary', 'Year', 'Month', 'Day', 'CS_keywords']]

# Rename the 'description' column for consistency
fix_description_column_name= {
    'description': 'Description',
}
Jobspikr = Jobspikr.rename(columns=fix_description_column_name)

In [38]:
Jobspikr.head(3)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019,8,20,2
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,NC,125000,2019,9,6,5
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,NY,125000,2019,8,23,11

## Glassdoor Dataset

In [39]:
file_key = 'Data_Science_Job_Posting_on_Glassdoor.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
Glassdoor = pd.read_csv(BytesIO(content), engine='python')

# Drop rows with missing values in specified columns
Glassdoor = Glassdoor.dropna(subset=['Salary Estimate', 'Location', 'Company Name'])

# Define a regular expression pattern for salary extraction
salary_pattern = r'\$([\d,]+)[Kk]?\s*-\s*\$([\d,]+)[Kk]?'

# Extract and preprocess salaries
def process_salary_string(salary_str):
    match = re.search(salary_pattern, salary_str)
    if match:
        lower_salary, upper_salary = map(lambda x: float(x.replace(',', '')), match.groups())
    else:
        numeric_values = [float(val.replace(',', '')) for val in re.findall(r'\b[\d,]+\b', salary_str)][:2]
        lower_salary, upper_salary = numeric_values if len(numeric_values) == 2 else (None, None)
    return lower_salary, upper_salary

# Apply the function to extract and preprocess salaries
Glassdoor['lower_salary'], Glassdoor['upper_salary'] = zip(*Glassdoor['Salary Estimate'].map(process_salary_string))

# Create a new column 'approximated_salary'
Glassdoor['approximated_salary'] = Glassdoor[['lower_salary', 'upper_salary']].mean(axis=1).apply(lambda x: int(str(x).split('.')[0][:3]) if pd.notna(x) else x)

# Drop unnecessary columns
Glassdoor = Glassdoor.drop(columns=['Salary Estimate', 'lower_salary', 'upper_salary'])

# Drop rows with missing values in the new column
Glassdoor = Glassdoor.dropna(subset=['approximated_salary'])

# Reset the index to have consecutive indices
Glassdoor = Glassdoor.reset_index(drop=True)

# Select relevant columns
Glassdoor = Glassdoor[['Job Title', 'Job Description', 'Company Name', 'Location','approximated_salary']]

# Split 'Location' into 'City' and 'State' columns
location_split = Glassdoor['Location'].str.split(', ', expand=True)
Glassdoor['City'] = location_split[0]
Glassdoor['State'] = location_split[1]
Glassdoor = Glassdoor.dropna(subset=['State'])

# Drop the original 'Location' column
Glassdoor = Glassdoor.drop(columns=['Location'])

# Rename columns
Glassdoor = Glassdoor.rename(columns={
    'Job Title': 'Title',
    'Job Description': 'Description',
    'city': 'City',
    'state': 'State',
    'year': 'Year',
    'approximated_salary': 'Salary'
}).reset_index(drop=True)

# Add columns filled with NaN
Glassdoor['Year'] = np.nan
Glassdoor['Month'] = np.nan
Glassdoor['Day'] = np.nan

# Convert columns to Int64 type
Glassdoor['Year'] = Glassdoor['Year'].astype('Int64')
Glassdoor['Month'] = Glassdoor['Month'].astype('Int64')
Glassdoor['Day'] = Glassdoor['Day'].astype('Int64')
Glassdoor['Salary'] = Glassdoor['Salary'].astype('Int64')

# Reorder columns to match the specified order
column_order = ['Title', 'Description', 'Company Name', 'City', 'State', 'Salary', 'Year', 'Month', 'Day']
Glassdoor = Glassdoor[column_order]
Glassdoor['Salary'] = Glassdoor['Salary'].apply(lambda x: x*1000)

Glassdoor['description'] = Glassdoor['Title'] + ' ' + Glassdoor['Description']
Glassdoor = Glassdoor.drop(['Description'], axis=1)

Glassdoor['Company Name'] = Glassdoor['Company Name'].map(lambda x: x.split('\n')[0])

Glassdoor['description'] = Glassdoor['description'].map(remove_emoji_andN)

Glassdoor['CS_keywords'] = Glassdoor.apply(lambda row: count_skill_keywords(row['description'], CS_keywords, group_CS_keywords), axis=1)

Glassdoor = Glassdoor[['Title', 'description', 'Company Name', 'City', 'State', 'Salary', 'Year', 'Month', 'Day', 'CS_keywords']]
fix_description_column_name= {
    'description': 'Description',
}
Glassdoor = Glassdoor.rename(columns=fix_description_column_name)

In [40]:
Glassdoor.head(3)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Sr Data Scientist,Sr Data Scientist Description The Senior Data...,Healthfirst,New York,NY,154000,<NA>,<NA>,<NA>,10
1,Data Scientist,"Data Scientist Secure our Nation, Ignite your ...",ManTech,Chantilly,VA,154000,<NA>,<NA>,<NA>,8
2,Data Scientist,Data Scientist Overview Analysis Group is on...,Analysis Group,Boston,MA,154000,<NA>,<NA>,<NA>,13

## Indeed Dataset

In [41]:
file_key = 'final_ai_jobs.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
AI_jobs = pd.read_csv(BytesIO(content), engine='python')

# Drop rows with missing values in specified columns
AI_jobs = AI_jobs[['job_title', 'job_description', 'company_name', 'company_location', 'salary']]

# Split 'Location' into 'City' and 'State' columns
location_split = AI_jobs['company_location'].str.split(', ', expand=True)
AI_jobs['City'] = location_split[0]
AI_jobs['State'] = location_split[1]
AI_jobs = AI_jobs.dropna(subset=['State'])

# Drop the original 'Location' column
AI_jobs = AI_jobs.drop(columns=['company_location'])

#AI_jobs = AI_jobs['salary'] / 100000

# Rename columns
AI_jobs = AI_jobs.rename(columns={
    'job_title': 'Title',
    'job_description': 'Description',
    'company_name': 'Company Name',
    'salary': 'Salary'
}).reset_index(drop=True)

# Add columns filled with NaN
AI_jobs['Year'] = np.nan
AI_jobs['Month'] = np.nan
AI_jobs['Day'] = np.nan

# Remove rows where the salary is 'Not available'
AI_jobs = AI_jobs[AI_jobs['Salary'] != 'Not available']


# Convert columns to Int64 type
AI_jobs['Year'] = AI_jobs['Year'].astype('Int64')
AI_jobs['Month'] = AI_jobs['Month'].astype('Int64')
AI_jobs['Day'] = AI_jobs['Day'].astype('Int64')
AI_jobs['Salary'] = AI_jobs['Salary'].astype('float32').fillna(0).astype('int64')

AI_jobs['description'] = AI_jobs['Title'] + ' ' + AI_jobs['Description']
AI_jobs = AI_jobs.drop(['Description'], axis=1)

AI_jobs['description'] = AI_jobs['description'].map(remove_emoji_andN)

AI_jobs['CS_keywords'] = AI_jobs.apply(lambda row: count_skill_keywords(row['description'], CS_keywords, group_CS_keywords), axis=1)

AI_jobs = AI_jobs[['Title', 'description', 'Company Name', 'City', 'State', 'Salary', 'Year', 'Month', 'Day', 'CS_keywords']]
fix_description_column_name= {
    'description': 'Description',
}

AI_jobs = AI_jobs.rename(columns=fix_description_column_name)

In [42]:
AI_jobs.head(3)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,"UX Researcher, Qualitative - Generative AI","UX Researcher, Qualitative - Generative AI Wor...",Meta,New York,NY,184500,<NA>,<NA>,<NA>,1
1,Fundamental Language Research Scientist - Gene...,Fundamental Language Research Scientist - Gene...,Meta,New York,NY,173500,<NA>,<NA>,<NA>,2
2,"Data Scientist, Product - Generative AI","Data Scientist, Product - Generative AI You wi...",Facebook App,New York,NY,164000,<NA>,<NA>,<NA>,1

## LinkedIn Dataset

In [63]:
file_key = 'LinkedIn Job Postings.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
LinkedIn  = pd.read_csv(BytesIO(content), engine='python')

file_key = 'LinkedIn Job Postings_companies.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
company_id  = pd.read_csv(BytesIO(content), engine='python')

LinkedIn = pd.merge(LinkedIn , company_id, on='company_id', how='inner')

# Filter by job type
LinkedIn = LinkedIn[LinkedIn['formatted_work_type'] == 'Full-time']
LinkedIn = LinkedIn[LinkedIn['work_type'] == 'FULL_TIME']

def convert_to_yearly(row):
    if row['pay_period'] == 'MONTHLY':
        return row['med_salary'] * 12
    elif row['pay_period'] == 'HOURLY':
        # Assuming 40 hours per week and 52 weeks per year
        return row['med_salary'] * 40 * 52
    else:
        return row['med_salary']

# Use the conversion function to create a new 'med_salary' column
LinkedIn['med_salary'] = LinkedIn.apply(convert_to_yearly, axis=1)

LinkedIn = LinkedIn[['title', 'description_x', 'description_y', 'name', 'city', 'min_salary', 'med_salary', 'max_salary', 'state', 'original_listed_time']]
            
LinkedIn['description'] = LinkedIn['description_x'] + ' ' +LinkedIn['description_y'] + ' ' + LinkedIn['title']

LinkedIn = LinkedIn.drop(['description_y', 'description_x'], axis=1)

LinkedIn['description'] = LinkedIn['description'].map(remove_emoji_andN)

LinkedIn['CS_keywords'] = LinkedIn.apply(lambda row: count_skill_keywords(row['description'], CS_keywords, group_CS_keywords), axis=1)

LinkedIn = LinkedIn[['title','description', 'name', 'city','state' ,'min_salary', 'med_salary', 'max_salary', 'original_listed_time','CS_keywords']]

fix_description_column_name = {
    'title': 'Title',
    'description': 'Description',
    'name': 'Company Name',
    'city': 'City',
    'state': 'State',
    'med_salary': 'Salary'
}

LinkedIn = LinkedIn.rename(columns=fix_description_column_name)

LinkedIn = LinkedIn.drop(['min_salary', 'max_salary', 'original_listed_time'], axis=1)

# Add new Year, Month, and Day columns
LinkedIn['Year'] = np.nan  
LinkedIn['Month'] = np.nan  
LinkedIn['Day'] = np.nan  

# Reorder columns
LinkedIn = LinkedIn[['Title', 'Description', 'Company Name', 'City', 'State', 'Salary','Year', 'Month', 'Day', 'CS_keywords']]

# Drop rows that has either null, zero or empty in specified columns
LinkedIn = LinkedIn.dropna(subset=['Description', 'Salary', 'City', 'State'])
LinkedIn = LinkedIn[(LinkedIn['Description'] != '') & (LinkedIn['Salary'] != 0) & (LinkedIn['City'] != '')  & (LinkedIn['City'] != '0') &  (LinkedIn['State'] != '') & (LinkedIn['State'] != '0')]

LinkedIn['Salary'] = LinkedIn['Salary'].astype('float32').fillna(0).astype('int64')

# Save the modified DataFrame to a new CSV file
LinkedIn.to_csv('cleaned_LinkedIn.csv', index=False)

#Keep only job posts related to CS (at least 3 keywords)
LinkedIn = LinkedIn[LinkedIn["CS_keywords"] > 3]

In [64]:
LinkedIn

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
1593,"Senior Communications Manager, Texas McCombs",Job Posting Title: Senior Communications Mana...,The University of Texas at Austin,Austin,tx,80000,NaN,NaN,NaN,4
1812,Front End Web Developer,About Boomi And What Makes Us Special Are you...,Boomi,Chesterbrook,PA,82366,NaN,NaN,NaN,4
2236,Python Developer,ECS is seeking a Python Developer for our USP...,ECS,Fairfax,VA,85000,NaN,NaN,NaN,12
4589,Data Engineer USA citizenship required REMOTE,Required United States Citizenship • Hands On ...,TechPerm Incorporated,Annapolis,Maryland,125000,NaN,NaN,NaN,6
5787,Budget Analyst,Job Position:- Budget Analyst Client Name:- S...,iAppsData Inc.,Jersey City,New Jersey,104000,NaN,NaN,NaN,5
6824,Azure/Databricks Data Engineer - Empower (remo...,Company Description Company Overview Hitachi...,Hitachi Solutions America,Irvine,CA,175000,NaN,NaN,NaN,11
8629,ERP Systems Administrator,About Senox:Senox Corporation is a leading man...,Senox Corporation,Austin,TX,104650,NaN,NaN,NaN,6
10260,Systems Developer,Job Name: OR - Systems Developer 3 Facility A...,TriOptus,Clarksburg,Maryland,108160,NaN,NaN,NaN,7
10333,Security and Systems Manager,"Location: 13001 Starkey Road, Largo, FL 33773 ...",Pinellas County Government,Clearwater,Florida,80000,NaN,NaN,NaN,4
11414,Senior Director of Technology,Description 7+ years out of university with 5...,Resolute Consulting Group,Houston,Texas,200000,NaN,NaN,NaN,5
13404,Sr. Software Engineer - Data Platform,About Pinecone Pinecone is pioneering a vecto...,Pinecone,New York,NY,125000,NaN,NaN,NaN,19
13405,Sr. Fullstack Software Engineer,About Pinecone Pinecone is pioneering a vecto...,Pinecone,New York,NY,125000,NaN,NaN,NaN,10
13406,Sr. Software Engineer - Data Platform,About Pinecone Pinecone is pioneering a vecto...,Pinecone,New York,NY,125000,NaN,NaN,NaN,19
13407,Sr. Software Engineer - Data Platform,About Pinecone Pinecone is pioneering a vecto...,Pinecone,New York,NY,125000,NaN,NaN,NaN,19
14347,Business Intelligence Analyst Intern,R375941 Comcast brings together the best in m...,Comcast,Philadelphia,PA,52000,NaN,NaN,NaN,9
15390,Hardware Engineer,Automation of Test process and latest certific...,LTIMindtree,Mumbai,MH,80000,NaN,NaN,NaN,5
16659,Senior Security Engineer,"Senior Security EngineerLocation: hybrid, Nort...",Vaco,Brentwood,Tennessee,135000,NaN,NaN,NaN,4
18346,Sr. Machine Learning Engineer,Summary JOB DESCRIPTION At Levi Strauss & Co...,Levi Strauss & Co.,San Francisco,California,122000,NaN,NaN,NaN,22
22390,Software Solutions Architect,"Overview Systems Planning and Analysis, Inc. ...","Systems Planning and Analysis, Inc.",Alexandria,VA,150000,NaN,NaN,NaN,7
22394,Data Analytics Analyst,"Overview Systems Planning and Analysis, Inc. ...","Systems Planning and Analysis, Inc.",Alexandria,VA,130000,NaN,NaN,NaN,4
22981,2024 R&D Summer Intern- Track 2,"About Alcon: As the global leader in eye care,...",Alcon,Geneva,Switzerland,93600,NaN,NaN,NaN,7
22983,2024 R&D Summer Intern- Track 2,"About Alcon: As the global leader in eye care,...",Alcon,Geneva,Switzerland,93600,NaN,NaN,NaN,7
22985,2024 R&D Summer Intern- Track 2,"About Alcon: As the global leader in eye care,...",Alcon,Geneva,Switzerland,93600,NaN,NaN,NaN,7
22986,2024 R&D Summer Intern- Track 2,"About Alcon: As the global leader in eye care,...",Alcon,Geneva,Switzerland,93600,NaN,NaN,NaN,7
22991,2024 R&D Summer Intern- Track 2,"About Alcon: As the global leader in eye care,...",Alcon,Geneva,Switzerland,93600,NaN,NaN,NaN,7
23620,Full Stack Developer,Piper Companies is looking for a Sr. Full Stac...,Piper Companies,McLean,VA,156000,NaN,NaN,NaN,5
23625,Senior Cloud Architect,Piper Companies is seeking an Senior Cloud Arc...,Piper Companies,McLean,VA,200000,NaN,NaN,NaN,4
23633,Senior Cloud Architect,Piper Companies is seeking an Senior Cloud Arc...,Piper Companies,McLean,VA,200000,NaN,NaN,NaN,4
23643,Data Analytics Solutions Engineer,Piper Companies is looking for a Data Analytic...,Piper Companies,McLean,VA,125000,NaN,NaN,NaN,11
24011,Business Intelligence Consulting Intern - Summ...,We are the leading provider of professional se...,RSM US LLP,Chicago,Illinois,68640,NaN,NaN,NaN,4
24371,"Program Manager, Computer Science and Artifici...",The School of Engineering Stanford Engineeri...,Stanford University,Stanford,CA,79000,NaN,NaN,NaN,4
24568,Application Support Analyst,Application Support Analyst-Pay: $24.64 (non-e...,Prosum,El Segundo,California,51251,NaN,NaN,NaN,4
24641,Vendor Experience Business Analyst,Pax8 is the leading cloud-based technology mar...,Pax8,Greenwood Village,Colorado,91000,NaN,NaN,NaN,6
24644,Technical Support Engineer III- Infrastructure,Pax8 is the leading value-added cloud-based Sa...,Pax8,Greenwood Village,Colorado,74000,NaN,NaN,NaN,4
25142,Sales Operations Senior Manager,At Entertainment Partners we help to power Osc...,Entertainment Partners,Burbank,CA,130000,NaN,NaN,NaN,9
28244,Application Developer,"When joining Elevations, you can expect to wor...",Elevations Credit Union,Boulder,Colorado,110000,NaN,NaN,NaN,4
28794,Metal Additive Manufacturing - Postdoctoral Re...,Company Description Join us and make YOUR mark...,Lawrence Livermore National Laboratory,Livermore,CA,108840,NaN,NaN,NaN,5
30410,Epidemiology Investigator 2 (Hybrid Eligible),"About Us Our mission is to save lives, reduce ...",Ohio Department of Public Safety,Columbus,Ohio,57907,NaN,NaN,NaN,5
32028,"Wholesale Business Analyst - Montvale, NJ (Hyb...","Wholesale Business Analyst - Montvale, NJ (Hyb...","Flight Centre Travel Group, The Americas",Montvale,NJ,75000,NaN,NaN,NaN,4
32055,AEM Developer,"Senior AEM Developer | Mountain view, CA | Pho...",RD SOLUTIONS INC,Iselin,New Jersey,135200,NaN,NaN,NaN,4
32095,"MBA Fall Intern, Insights",ABOUT ELEVATE SPORTS VENTURES:Elevate Sports V...,Elevate,Charlotte,North Carolina,52000,NaN,NaN,NaN,9
32096,"Fall Undergraduate Intern, Insights",ABOUT ELEVATE SPORTS VENTURES: Elevate Sports ...,Elevate,Charlotte,North Carolina,41600,NaN,NaN,NaN,7

## Merge the Datasets

In [65]:
big_merged_df = pd.concat([Jobspikr, Glassdoor, AI_jobs, LinkedIn], ignore_index=True, join='outer')

# Calculate the average of the 'Year' column
average_year = big_merged_df['Year'].mean()
average_Month = big_merged_df['Month'].mean()
average_day = big_merged_df['Day'].mean()

# Print the average year
print("Average Year:", average_year)
print("Average Month:", average_Month)
print("Average Day:", average_day)

# Round the average_year and convert it to an integer
average_year = round(average_year)
average_year = int(average_year)
average_Month = round(average_Month)
average_Month = int(average_Month)
average_day = round(average_day)
average_day = int(average_day)

# Replace NaN values in the 'Year', month and day columns with the rounded integer average_year
Glassdoor['Year'] = Glassdoor['Year'].fillna(average_year)
Glassdoor['Month'] = Glassdoor['Month'].fillna(average_Month)
Glassdoor['Day'] = Glassdoor['Day'].fillna(average_day)

AI_jobs['Year'] = AI_jobs['Year'].fillna(average_year)
AI_jobs['Month'] = AI_jobs['Month'].fillna(average_Month)
AI_jobs['Day'] = AI_jobs['Day'].fillna(average_day)

LinkedIn['Year'] = LinkedIn['Year'].fillna(average_year)
LinkedIn['Month'] = LinkedIn['Month'].fillna(average_Month)
LinkedIn['Day'] = LinkedIn['Day'].fillna(average_day)

big_merged_df = pd.concat([Jobspikr, Glassdoor, AI_jobs, LinkedIn], ignore_index=True, join='outer')

# For double verificastion check for NaN values in the 'Year', 'Month', and 'Day' columns
nan_values_in_year = big_merged_df['Year'].isnull().any()
nan_values_in_month = big_merged_df['Month'].isnull().any()
nan_values_in_day = big_merged_df['Day'].isnull().any()

if nan_values_in_year:
    print("There are NaN values present in the 'Year' column.")
else:
    print("There are no NaN values present in the 'Year' column.")

if nan_values_in_month:
    print("There are NaN values present in the 'Month' column.")
else:
    print("There are no NaN values present in the 'Month' column.")

if nan_values_in_day:
    print("There are NaN values present in the 'Day' column.")
else:
    print("There are no NaN values present in the 'Day' column.")

# Save the modified DataFrame to a new CSV file
big_merged_df.to_csv('merged.csv', index=False)

Average Year: 2019.0
Average Month: 8.991584852734922
Average Day: 16.18162692847125
There are no NaN values present in the 'Year' column.
There are no NaN values present in the 'Month' column.
There are no NaN values present in the 'Day' column.

In [66]:
big_merged_df.head(3)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019.0,8.0,20.0,2
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,NC,125000,2019.0,9.0,6.0,5
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,NY,125000,2019.0,8.0,23.0,11

## Push the Merged Dataframe to AWS

In [67]:
import io

# Specify the new file key for the LinkedIn data
output_file_key = 'merged_dataset.csv'

# Save the LinkedIn DataFrame to a CSV file in memory
csv_buffer = io.StringIO()
big_merged_df.to_csv(csv_buffer, index=False)

# Upload the CSV file in memory to the S3 bucket
s3.put_object(Body=csv_buffer.getvalue(), Bucket=bucket_name, Key=output_file_key)

{'ResponseMetadata': {'RequestId': 'H5996Y8RGQD6ASMG',
  'HostId': '+wjNyPdgvPDzFNsC24bKczaZezS7S/s1RAHygOpCqvgX/9rTgLjLH85VI27ycOnf1dDTEO47XOQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '+wjNyPdgvPDzFNsC24bKczaZezS7S/s1RAHygOpCqvgX/9rTgLjLH85VI27ycOnf1dDTEO47XOQ=',
   'x-amz-request-id': 'H5996Y8RGQD6ASMG',
   'date': 'Tue, 20 Feb 2024 23:34:35 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"825dbfd72a383609069c9aee459a9773"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"825dbfd72a383609069c9aee459a9773"',
 'ServerSideEncryption': 'AES256'}