In [1]:
#!pip install boto3

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import boto3
from io import BytesIO
import io
from sklearn.preprocessing import MinMaxScaler
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from scipy.stats import pearsonr
import textdistance
import warnings

## Credentials for Amazon S3

In [2]:
aws_access_key_id = 'AKIAZQ3DOOYC7J5PI25Z'
aws_secret_access_key = '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'

bucket_name = 'comp333bucket'

# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

## The list contains generic CS keywords

In [3]:
CS_keywords = set(['python', 'pytorch', 'sql', 'mxnet', 'mlflow', 'einstein', 'theano', 'pyspark', 'solr', 'mahout',
 'cassandra', 'aws', 'powerpoint', 'spark', 'pig', 'sas', 'java', 'nosql', 'docker', 'salesforce', 'scala', 'c++', 'net', 'tableau', 'pandas', 'scikitlearn', 'sklearn', 'matlab', 'scala', 'keras', 'tensorflow', 'clojure',
 'caffe', 'scipy', 'numpy', 'matplotlib', 'vba', 'spss', 'linux', 'azure', 'cloud', 'gcp', 'mongodb', 'mysql', 'oracle',
 'redshift', 'snowflake', 'kafka', 'javascript', 'qlik', 'jupyter', 'perl', 'bigquery', 'unix', 'react',
 'scikit', 'powerbi', 's3', 'ec2', 'lambda', 'ssrs', 'kubernetes', 'hana', 'spacy', 'tf', 'django', 'sagemaker',
 'seaborn', 'mllib', 'github', 'git', 'elasticsearch', 'splunk', 'airflow', 'looker', 'rapidminer', 'birt', 'pentaho',
'jquery', 'nodejs', 'd3', 'plotly', 'bokeh', 'xgboost', 'rstudio', 'shiny', 'dash', 'h20', 'h2o', 'hadoop', 'mapreduce',
 'hive', 'cognos', 'angular', 'nltk', 'flask', 'node', 'firebase', 'bigtable', 'rust', 'php', 'cntk', 'lightgbm',
 'kubeflow', 'rpython', 'unixlinux', 'postgressql', 'postgresql', 'postgres', 'hbase', 'dask', 'ruby', 'julia', 'tensor',
 'dplyr','ggplot2','esquisse','bioconductor','shiny','lubridate','knitr','mlr','quanteda','dt','rcrawler','caret','rmarkdown',
 'leaflet','janitor','ggvis','plotly','rcharts','rbokeh','broom','stringr','magrittr','slidify','rvest',
 'rmysql','rsqlite','prophet','glmnet','text2vec','snowballc','quantmod','rstan','swirl','datasciencer', 
 'amazon web services', 'google cloud', 'sql server',
  'cleansing', 'chatbot', 'cleaning', 'blockchain', 'causality', 'correlation', 'bandit', 'anomaly', 'kpi',
 'dashboard', 'geospatial', 'ocr',  'pca', 'gis', 'svm', 'svd', 'tuning', 'hyperparameter', 'hypothesis',
 'salesforcecom', 'segmentation', 'biostatistics', 'unsupervised', 'supervised', 'exploratory',
 'recommender', 'recommendations', 'research', 'sequencing', 'probability', 'reinforcement', 'graph', 'bioinformatics',
  'knn', 'etl', 'normalization', 'classification', 'optimizing', 'prediction', 'forecasting',
 'clustering', 'optimization', 'visualization', 'nlp', 'c#',
 'regression', 'logistic', 'cnn', 'glm',
 'rnn', 'lstm', 'gbm', 'boosting', 'recurrent', 'convolutional', 'bayesian',
 'bayes', 'random forest', 'natural language processing', 'machine learning', 'decision tree', 'deep learning', 'experimental design',
 'time series', 'nearest neighbors', 'neural network', 'support vector machine', 'computer vision', 'machine vision', 'dimensionality reduction',
 'text analytics',  'a/b testing', 'data mining', 'kajsadouas', 'senior','intern', 'Data', ])

## Get the list of unique keywords that appear in the description

In [4]:
file_key = 'merged_dataset.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
content = obj['Body'].read()
merged_df = pd.read_csv(BytesIO(content), engine='python')
display(merged_df.head(3))

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019.0,8.0,20.0,2
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease and...,Carolinas HealthCare System,Charlotte,NC,125000,2019.0,9.0,6.0,5
2,"Senior Data Scientist, Advanced Marketing Anal...","Senior Data Scientist, Advanced Marketing Anal...",Spotify,New York,NY,125000,2019.0,8.0,23.0,11

In [5]:
# Suppress PerformanceWarning
warnings.filterwarnings("ignore", message="DataFrame is highly fragmented.*")

# Tokenize the words and remove stopwords
nltk.download('punkt')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

merged_df['Description'] = merged_df['Description'].apply(lambda x: ' '.join([word.capitalize() for word in word_tokenize(x) if word.lower() not in stop_words]))

# Count word frequencies
word_frequencies = {}
for description in merged_df['Description']:
    words = word_tokenize(description)
    for word in words:
        word = word.lower()  # Convert to lowercase for consistency
        if word not in word_frequencies:
            word_frequencies[word] = 1
        else:
            word_frequencies[word] += 1

# Filter out words with frequency above 50
frequent_words = {word: freq for word, freq in word_frequencies.items() if freq > 50}

# Create bag-of-words representation
vectorizer = CountVectorizer(vocabulary=frequent_words.keys())
X = vectorizer.fit_transform(merged_df['Description'])

# Calculate correlation
correlations = {}
for word in frequent_words:
    idx = vectorizer.vocabulary_.get(word)
    if idx is not None:
        word_vector = X[:, idx].toarray().flatten()
        correlation, _ = pearsonr(word_vector, merged_df['Salary'])
        if not pd.isnull(correlation):  # Exclude words with NaN correlation
            correlations[word] = abs(correlation)

# Find redundant words based on Jaro-Winkler similarity and keep only the one with the highest correlation
threshold = 0.7 # You can adjust this threshold as needed
redundant_words = set()
for word1 in correlations:
    for word2 in correlations:
        if word1 != word2 and textdistance.jaro_winkler.similarity(word1, word2) > threshold:
            if correlations[word1] > correlations[word2]:
                redundant_words.add(word2)
            else:
                redundant_words.add(word1)

# Remove redundant words from frequent_words
frequent_words = {word: freq for word, freq in frequent_words.items() if word not in redundant_words}

# Sort the words based on their correlation with the salary column and remove redundant words
sorted_correlations = sorted(correlations.items(), key=lambda x: x[1], reverse=True)
sorted_correlations = [(word, corr) for word, corr in sorted_correlations if word not in redundant_words]

#print("Words with frequency above 50 and not redundant:", len(frequent_words))
print("Words with highest correlation with salary:", sorted_correlations)

[nltk_data] Downloading package punkt to /home/ubuntu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/home/ubuntu/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4781: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

Words with highest correlation with salary: [('data', 0.19391532632517758), ('work', 0.19321194905212666), ('python', 0.19274615100484604), ('experience', 0.17160888922427728), ('scientist', 0.1694373767984956), ('new', 0.1515917445517305), ('opportunities', 0.1515849651560083), ('insights', 0.14636544334120355), ('skills', 0.14592456844144214), ('problems', 0.13800163541233004), ('help', 0.136008261411012), ('communication', 0.13149529867697363), ('drive', 0.12995225717366998), ('including', 0.1293120716491419), ('build', 0.12915903958543679), ('team', 0.12772669588177799), ('programming', 0.12728079917560337), ('passion', 0.12617108310408576), ('statistics', 0.12421543675665123), ('ca', 0.12335608908969603), ('learn', 0.12236956579110002), ('business', 0.12191636270814088), ('responsibilities', 0.12092818595962083), ('sql', 0.1198910917845229), ('key', 0.11849593653677092), ('actionable', 0.11677121335804957), ('ability', 0.11661494905309416), ('analyses', 0.11562357913714841), ('environment', 0.1145813981092616), ('open', 0.1130367884906634), ('knowledge', 0.11148885489889437), ('understand', 0.11106940841405025), ('tools', 0.10870872175675443), ('reports', 0.10861480831796641), ('stakeholders', 0.10684046254349956), ('computer', 0.10574665888566526), ('metrics', 0.10446247860869366), ('improvement', 0.10375161055905811), ('develop', 0.10367696768321698), ('make', 0.10212472184525259), ('preferred', 0.09966470607600884), ('qualifications', 0.0986827553953612), ('end', 0.0985959543422339), ('initiatives', 0.09804661714249929), ('organize', 0.09715425993745838), ('related', 0.09619505447077736), ('life', 0.09530377097356402), ('future', 0.09218090384522347), ('believe', 0.0917462679539768), ('values', 0.09148299176459126), ('quickly', 0.09140349348408325), ('verbal', 0.09034326525072023), ('growth', 0.09007226110279311), ('well', 0.08982210810915332), ('time', 0.08888348810069482), ('closely', 0.08538475944854224), ('tableau', 0.08474564829325867), ('required', 0.08391851591263982), ('excel', 0.08304316113525961), ('phd', 0.08170609662401518), ('inform', 0.07945116000521693), ('big', 0.07933372887734366), ('effectively', 0.07918515166856002), ('advance', 0.07871282725959355), ('throughout', 0.07838738298860079), ('hadoop', 0.07778158749910721), ('20', 0.07739348076537012), ('system', 0.07570066996865502), ('transform', 0.07395074546244002), ('together', 0.07200742474184), ('overview', 0.07161096986629839), ('similar', 0.07133575523771754), ('dashboards', 0.07071552976869969), ('want', 0.06888865392364851), ('physics', 0.0662127713326198), ('language', 0.06564071571163049), ('enjoy', 0.06542254805485123), ('highly', 0.06531574912694495), ('50', 0.06435619808389523), ('track', 0.06062862937318238), ('public', 0.05899686490659328), ('accuracy', 0.051313200218434475), ('minimum', 0.05089800943070276), ('kafka', 0.04939711993839886), ('check', 0.048022240062381406), ('10', 0.0471495807853745), ('40', 0.03940425477143885), ('maximize', 0.03693889880581533), ('numpy', 0.033645481114484184), ('today', 0.03342892704883181)]

## Adding top 30 correlated keyword columns in the merged dataset

In [6]:
# Add frequency columns for top 30 correlated keywords
for word, _ in sorted_correlations[:200]:
    merged_df[word] = merged_df['Description'].apply(lambda x: sum(textdistance.jaro_winkler.similarity(word, w) > threshold for w in word_tokenize(x)))

In [7]:
print(merged_df.columns)

Index(['Title', 'Description', 'Company Name', 'City', 'State', 'Salary',
       'Year', 'Month', 'Day', 'CS_keywords', 'data', 'work', 'python',
       'experience', 'scientist', 'new', 'opportunities', 'insights', 'skills',
       'problems', 'help', 'communication', 'drive', 'including', 'build',
       'team', 'programming', 'passion', 'statistics', 'ca', 'learn',
       'business', 'responsibilities', 'sql', 'key', 'actionable', 'ability',
       'analyses', 'environment', 'open'],
      dtype='object')

## Validating correlations

In [8]:
merged_df_corr = merged_df.drop(['Description', 'Title', 'Company Name', 'City', 'State'], axis=1)

salary_column = merged_df_corr['Salary']
correlations = merged_df_corr.corrwith(salary_column)


sorted_correlations = correlations.abs().sort_values(ascending=False)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(sorted_correlations)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Salary              1.000000
work                0.220396
data                0.195275
python              0.187750
experience          0.187522
including           0.186487
CS_keywords         0.182668
communication       0.177197
actionable          0.176959
problems            0.172678
open                0.171065
drive               0.169938
analyses            0.169619
new                 0.167711
team                0.166803
insights            0.165704
learn               0.163716
scientist           0.162828
passion             0.159724
help                0.157120
skills              0.148692
ability             0.142484
build               0.140606
ca                  0.136062
business            0.135740
statistics          0.135301
opportunities       0.128712
responsibilities    0.127616
sql                 0.126441
key                 0.122934
programming         0.113352
environment         0.112988
Month               0.022445
Day                 0.020837
Year                     NaN
dtype: float64

In [9]:
merged_df.head(2)

,Title,Description,Company Name,City,State,Salary,Year,Month,Day,CS_keywords,...,learn,business,responsibilities,sql,key,actionable,ability,analyses,environment,open
0,Data Scientist - Cross Asset Desk Strategist T...,Data Scientist - Cross Asset Desk Strategist T...,Morgan Stanley,New York,NY,90000,2019.0,8.0,20.0,2,...,5,2,1,0,0,0,2,8,1,0
1,Senior Data Scientist - Infectious Disease and...,Senior Data Scientist - Infectious Disease Inf...,Carolinas HealthCare System,Charlotte,NC,125000,2019.0,9.0,6.0,5,...,5,5,0,0,1,8,7,7,5,4

## Push the dataset to Amazon S3 datalake

In [10]:
output_file_key = 'with_20_keywords.csv'

csv_buffer = io.StringIO()
merged_df.to_csv(csv_buffer, index=False)

s3.put_object(Body = csv_buffer.getvalue(), Bucket = bucket_name, Key=output_file_key)

{'ResponseMetadata': {'RequestId': 'NTQWN6F44HYV27D6',
  'HostId': 'H81NWr4E2F/x257Om3+dR8nnvfq7yxge4PEG74edSAcTsVcDTqo9JeVnE3XCybpZtL3+pqsSLAk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'H81NWr4E2F/x257Om3+dR8nnvfq7yxge4PEG74edSAcTsVcDTqo9JeVnE3XCybpZtL3+pqsSLAk=',
   'x-amz-request-id': 'NTQWN6F44HYV27D6',
   'date': 'Thu, 21 Mar 2024 00:31:32 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a42b777a427043e204ef6951c215e915"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a42b777a427043e204ef6951c215e915"',
 'ServerSideEncryption': 'AES256'}

### Normalization

#### Before normalization:

In [ ]:
print(final_df['Salary'])

In [ ]:
scaler = MinMaxScaler()
final_df.loc[:, 'Salary'] = scaler.fit_transform(final_df['Salary'].values.reshape(-1, 1))
# If we want to reverse the normalization
# final_df.loc[:, 'Salary'] = scaler.inverse_transform(final_df['Salary'].values.reshape(-1, 1))

#### After normalization:

In [ ]:
print(final_df['Salary'])